body {
    margin: 0;
    padding: 0;
    /* background: url(https://i.pinimg.com/736x/a7/ad/de/a7adde7aa9859db5cd746709c60ae050.jpg);
    background-size: contain; */
    font-family: sans-serif;
    height: 100vh;
    box-sizing: border-box;
}