

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 70px;  
    color: #0066cc;  
}

.login{
    width: 620px;
    height: 400px;
    background: rgb(255, 253, 253);
    color: black;
    padding: 70px 30px;
    box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.75);
    border-top: 4px solid #0066cc;
}

.login .contenedor-imagen{
    padding: 0 0 0 125px;
    width: 300px;
    height: 125px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen .inicio_sesion{
    width: 100%;
    object-fit: contain;
}

.login h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type=text],
.login input[type=password]{
    border : none;
    border-bottom: 1px solid #0066cc;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.login input[type=submit]{
    border: none;
    outline: none;
    height: 40px;
    background: #0066cc;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s;
}
.login input[type=submit]:hover{
    background-color: #2990f8;
}

.login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:#0066cc;
}
.contenedor-links{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}